@page
@model Port_web.Pages.Categories.CreateModel

<form method="post">
    <div>
        <h2></h2>
        <hr />
    </div>

    <div class="mb-3">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Category.DisplayOrder"></label>
        <input asp-for="Category.DisplayOrder" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>

</form>
