@page
@model Port_web.Pages.Categories.CreateModel

<form method="post">
    <div>
        <h2></h2>
        <hr />
    </div>

    <div class="mb-3">
        Name:
        <input type="text" name="categoryName" />
    </div>
    <div class="mb-3">
        Display Order:
        <input type="text" name="displayOrder" />
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>

</form>
