@page
@model Port_web.Pages.Categories.EditModel
<div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
        <h4 class="text-primary pl-3">Edit Category</h4>
        </div>
        <div asp-validation-summary=All></div>
<hr/>
    </div>
<form method="post">
    <input hidden asp-for="Category.Id"/>
    <div class="container bg-dark pb-2">

   
    <div class="mb-3">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category.DisplayOrder"></label>
        <input asp-for="Category.DisplayOrder" class="form-control" />
        <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px;"><i class="bi bi-save-fill"></i>&nbsp; &nbsp; Update</button>
    <a  class="btn btn-warning" asp-page="/Categories/Index" style="width:150px;"> Cancel</a>
   </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}