@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container bg-dark">
    <h1 class="mb-4">This is a portfolio application</h1>
    <p>I built this application to show that I can program in .NET 6. This app connects to a MSSQL 2019 database and enables CRUD operations within it.</p>
    <p>This website is not meant to showcase everything that I can do or what .NET 6 can do either.  It is just meant to show that I'm capable of coding applications that communicate to a database.</p>
    <hr />
    <p>Code for this application is in a Github repository called <a href="https://github.com/drdotnetcore/Port-web"> Port-web.</a> </p>
    <p>Thanks for your consideration.</p>
</div>
