@page
@model Port_web.Pages.Products.CreateModel
@{
 
}
<div class="bg-dark p-3 mt-4">
        <div class="row pb-2">
        <h4 class="text-primary pl-3">Create Product</h4>
        </div>
        <div asp-validation-summary=All></div>
<hr/>
    </div>
<form method="post">
    <div class="container bg-dark pb-2">

   
    <div class="mb-3">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.CategoryId"></label>
        <select name="Product.CategoryId" asp-items="Model.Options" class="form-control"></select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Product.SKU"></label>
        <input asp-for="Product.SKU" class="form-control" />
        <span asp-validation-for="Product.SKU" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Product.Cost"></label>
        <input asp-for="Product.Cost" class="form-control" />
        <span asp-validation-for="Product.Cost" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Product.SellingPrice"></label>
        <input asp-for="Product.SellingPrice" class="form-control" />
        <span asp-validation-for="Product.SellingPrice" class="text-danger"></span>
    </div>    
    <div class="mb-3">
        <label asp-for="Product.DiscountPercentage"></label>
        <input asp-for="Product.DiscountPercentage" class="form-control" />
        <span asp-validation-for="Product.DiscountPercentage" class="text-danger"></span>
    </div>    

    <button type="submit" class="btn btn-primary" style="width:150px;"><i class="bi bi-save-fill"></i>&nbsp; &nbsp; Save</button>
    <a  class="btn btn-warning" asp-page="/Products/Index" style="width:150px;"> Cancel</a>
   </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}